@import "./_styles/tailwind.css";
@import "./_styles/debug.css";

@font-face {
  font-family: Baskerville;
  src: url("./assets/fonts/Baskerville.otf") format("opentype");
}
@font-face {
  font-family: Bookman;
  src: url("./assets/fonts/Bookman.otf") format("opentype");
}
.baskerville {
  font-family: Baskerville, sans-serif;
}
.bookman {
  font-family: Bookman, sans-serif;
}

/* Global styles */
a,
a:active {
  @apply .cursor-pointer .no-underline;
}
a:hover,
a:focus {
  @apply .underline;
}

/* Add an ellipsis to the placeholder */
.ais-search-box--input::placeholder {
  text-overflow: ellipsis !important;
}

/* Searchbox magnifying glass */
.ais-search-box--magnifier {
  @apply .hidden;
  @apply .absolute .pin-y .pin-l;
  @apply .w-1;
  @apply .ml-1;
  @apply .text-white .fill-current;
}
@screen sm {
  .ais-search-box--magnifier {
    @apply .block;
    @apply .w-2;
  }
}

/* Searchbox close icon */
.ais-search-box--reset {
  @apply .hidden;
  @apply .absolute .pin-y .pin-r;
  @apply .w-2;
  @apply .mr-1;
  @apply .text-white-75 .fill-current .bg-transparent;
}
@screen sm {
  .ais-search-box--reset {
    @apply .block;
  }
}

/* Hits */
.ais-hits {
  @apply flex flrw;
}
.ais-hits--item {
  @apply flex fln w-100 p-0x;
}
@screen md {
  .ais-hits--item {
    @apply w-50;
  }
}
@screen md {
  .ais-hits--item {
    @apply w-33;
  }
}
/**
 * We style our hits template with custom classes instead of using Tailwind
 * directly. It's a bit more cumbersome, but it allows us to use the ais- prefix
 * on classes that is not removed by purgeCSS.
 **/
.ais-hits--custom {
  @apply w-100 border border-grey bg-grey--3 flex flrnw p-0x;
}
.ais-hits--custom-wrapper {
  @apply min-h-5 bg-4x bg-no-repeat flex flrnw flc relative;
}
.ais-hits--custom-thumbnail {
  @apply absolute pin-b pin-l p-0x bg-grey-3 text-white text-2 baskerville rounded-2;
}
.ais-hits--custom-content {
  @apply ml-3x mr-0x bg-black-90 text-grey--1 rounded-2 p-1 leading-1;
}
.ais-hits--custom-title  {
  @apply text-3 bold text-red baskerville;
}

/* Highlight */
.ais-highlight {
  @apply bold text-yellow-1 underline;
}

/* Pagination */
.ais-pagination {
  @apply .list-reset .text-center .my-1;
}
.ais-pagination--item {
  @apply .rounded-100;
  @apply .inline-block;
  @apply .bold .text-3;
  @apply .mx-0x;
}
.ais-pagination--item:hover,
.ais-pagination--item__active {
  @apply .bg-grey-3;
}
.ais-pagination--item:hover .ais-pagination--link,
.ais-pagination--item__active .ais-pagination--link {
  @apply text-white;
  @apply .no-underline;
}
.ais-pagination--link {
  @apply .text-black;
  @apply .no-underline;
  @apply .px-1;
}
.ais-pagination--item__disabled {
  @apply .hidden;
}
