@import "./_styles/tailwind.css";
@import "./_styles/debug.css";

/* Global styles */
a,
a:active {
  @apply .cursor-pointer .no-underline;
}
a:hover,
a:focus {
  @apply .underline;
}

/* Add an ellipsis to the placeholder */
.ais-search-box--input::placeholder {
  text-overflow: ellipsis !important;
}

/* Searchbox magnifying glass */
.ais-search-box--magnifier {
  @apply .hidden;
  @apply .absolute .pin-y .pin-l;
  @apply .w-1;
  @apply .ml-1;
  @apply .text-white .fill-current;
}
@screen sm {
  .ais-search-box--magnifier {
    @apply .block;
    @apply .w-2;
  }
}

/* Searchbox close icon */
.ais-search-box--reset {
  @apply .hidden;
  @apply .absolute .pin-y .pin-r;
  @apply .w-2;
  @apply .mr-1;
  @apply .text-white-75 .fill-current .bg-transparent;
}
@screen sm {
  .ais-search-box--reset {
    @apply .block;
  }
}

/* Hits */
.ais-highlight {
  @apply bold text-red-1;
}

/* Pagination */
.ais-pagination {
  @apply .list-reset .text-center .my-1;
}
.ais-pagination--item {
  @apply .rounded-100;
  @apply .inline-block;
  @apply .bold .text-3;
  @apply .mx-0x;
}
.ais-pagination--item:hover,
.ais-pagination--item__active {
  @apply .bg-green-3 
}
.ais-pagination--item:hover .ais-pagination--link,
.ais-pagination--item__active .ais-pagination--link {
  @apply text-white;
  @apply .no-underline;
}
.ais-pagination--link {
  @apply .text-black;
  @apply .no-underline;
  @apply .px-1;
}
.ais-pagination--item__disabled {
  @apply .hidden;
}
